
{% extends "base_event.html" %}
{% block content %}
<div class="jumbotron">
  <p>Update a new event with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.id.label }} {{ form.id() }} 
      {{ form.name.label }} {{ form.name() }} 
      {{ form.client_id.label }} {{ form.client_id() }} 
      {{ form.type.label }} {{ form.type() }} 
      {{ form.date.label }} {{ form.date() }} 
      {{ form.num_of_invitees.label }} {{ form.num_of_invitees() }} 
      {{ form.budget.label }} {{ form.budget() }} 
      {{ form.venue_id.label }} {{ form.venue_id() }} 
      {{ form.submit() }}
  </form>
</div>
{% endblock %}

