
{% extends "base_supplier.html" %}
{% block content %}
<div class="jumbotron">
  
  <p>Update supplier with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.id.label }} {{ form.id() }} 
      {{ form.name.label }} {{ form.name() }} 
      {{ form.type.label }}  {{ form.type() }} 
      {{ form.unit_price.label }} {{ form.unit_price() }} 
      {{ form.contact.label }}  {{ form.contact() }} 
      {{ form.supply_id.label }}  {{ form.supply_id() }}
      {{ form.submit() }}
  </form>
</div>
{% endblock %}

